@page "/"

<PageTitle>Home</PageTitle>

<div class="bg-white shadow-md rounded-lg overflow-hidden max-w-md w-full">
    <div class="p-4 border-b border-gray-200">
        <input @bind="characterName" placeholder="角色名稱" class="w-full p-2 border border-gray-300 rounded-md" />
    </div>
    <div class="flex flex-col items-center p-4">
        <img id="characterImage" src="@imageSource" alt="Character Image" class="w-32 h-32 object-cover rounded-full"
             @onmousedown="OpenMouth" 
             @onmouseup="CloseMouth"
             @ontouchstart="OpenMouth"
             @ontouchend="CloseMouth" />
    </div>
    <div class="p-4 border-t border-gray-200">
        <textarea @bind="characterDescription" placeholder="簡介" class="w-full p-2 border border-gray-300 rounded-md"></textarea>
    </div>
</div>

@code {
    private string characterName { get; set; }
    private string characterDescription { get; set; }
    private string imageSource { get; set; } = "images/kbmie_close.png";

    /// <summary>
    /// Switch to the open mouth image.
    /// </summary>
    private void OpenMouth()
    {
        imageSource = "images/kbmie_open.png";
    }

    /// <summary>
    /// Switch to the close mouth image.
    /// </summary>
    private void CloseMouth()
    {
        imageSource = "images/kbmie_close.png";
    }
}
