@using VPop.Data

@inject HttpClient Http

<div class="flex items-center justify-between px-6 py-4 bg-blue-500">
    <div>
        <a class="text-white text-2xl font-semibold" href="">VPop.Clicker</a>
    </div>
    <div>
        <button title="Navigation menu" class="text-white" @onclick="ToggleNavMenu">
            <span class="fas fa-bars"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass overflow-y-auto" @onclick="ToggleNavMenu">
    <nav class="flex flex-col">
        <div class="px-6 py-2">
            <NavLink class="text-gray-700" href="" Match="NavLinkMatch.All">
                <span class="fas fa-home mr-2" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (characters != null)
        {
            foreach (var character in characters)
            {
                <div class="px-6 py-2">
                    <NavLink class="flex items-center text-gray-700" href="@($"/{character.Id}")">
                        <img src="@character.Image" alt="Character Image" class="w-8 h-8 object-cover rounded-full mr-2" />
                        <span>@character.Name</span>
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;
    private List<Character> characters { get; set; }

    private string? NavMenuCssClass => collapseNavMenu ? "hidden" : "block";

    private void ToggleNavMenu()
    {
        // collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        characters = await Http.GetFromJsonAsync<List<Character>>("character");
    }
}
